
<p>
    <strong>Заголовок:</strong>
    <%= @article.title %>
  </p>
   
  <p>
    <strong>Описание:</strong>
    <%= @article.text %>
  </p>
   <p>
    <strong>Рейтинг:</strong>
    <%= @article.rating %>
  </p>
   <p>
    <strong>Цена:</strong>
    <%= @article.price %>
  </p>
   <p>
    <strong>Вайфай:</strong>
    <%= @article.wifi %>
  </p>
   <p>
    <strong>Завтрак:</strong>
    <%= @article.breakfast %>
  </p>
   <p>
    <strong>Фото:</strong>
    <%= @article.photo %>
  </p>
   <p>
    <strong>Адрес:</strong>
    <%= @article.adres %>
  </p>


  <%= link_to 'Назад', articles_path %>